<div class="col-md-5 offset-md-2">
  <h1 class="p-3 md-2 bg-light text-dark">User一覧</h1>
</div>

<div class="col-md-8 offset-md-4">
<table class="table">
 <table>
  <thead>
   <tr>
    <th>Image</th>
    <th>UserName</th>
   </tr>
 </thead>

 <% @user.each do |user| %>
 <tbody>
   <tr>
    <th><%= attachment_image_tag user, :profile_image,  :fill, 60, 60, fallback: "no_image.jpg" %></th>
    <td>
     <%= link_to user_path(user.id) do %>
     <%= user.name %>
     <% end %>
    </td>
   </tr>
 </tbody>
 <% end %>
</table>
</div>