<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center about-heading">About</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        ShoesProudは「革靴の経年変化を記録・閲覧ができるサイトです。<br>
        Before・Afterの写真を投稿して、レザーシューズの経年変化を楽しみましょう。<br>
        写真は複数枚選択して投稿することができるので、様々な角度からエイジングを確認することができます。<br>
        また靴好き同士で気軽にコミュニケーションをとりましょう。<br>
        さあ、靴自慢しよう！
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col about-img">
    </div>
  </div>
</div>