<div class="col about-img text-center">
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center about-heading">About<i class="fas fa-shoe-prints"></i></h1>
    </div>
  </div>
</div>
  <div class="row">
    <div class="col">
      <div class="text-center">
        ShoesProudは「革靴の経年変化を記録・閲覧ができるサイトです。<br>
        写真を投稿して、レザーシューズの経年変化を楽しむことができます。<br>
        靴磨きは大事な身だしなみ！<br>
        カレンダーで予定化することで、習慣にしていきましょう。<br>
        また靴好き同士で気軽にコミュニケーションをとりましょう。<br>
        さあ、靴自慢しよう！
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-9 offset-md-2">
    <table class='table'>
      <thead>
        <tr>
          <td>
            <div class="col about-img2 text-center">
            </div>
          </td>
          <td>
            <div class="col about-text1 text-center">
            <h4 class="p-3 md-2 text-dark">1.登録をしよう</h4>
            新規登録を行って、<br>
            利用を開始しましょう。<br>
            ゲストログインをして、<br>
            ゲストとして利用することもできます。
          </td>
        </tr>
        <tr>
           <td>
            <div class="col about-text1 text-center">
              <h4 class="p-3 md-2 text-dark">2.画像投稿をしよう</h4>
              Before・Afterの写真を投稿して、<br>
              レザーシューズの経年変化を楽しみましょう。<br>
              写真は複数枚選択して投稿することができるので、<br>
              様々な角度からエイジングを<br>
              確認することができます。
            </div>
          </td>
          <td>
            <div class="col about-img3 text-center">
            </div>
          </td>
        </tr>
        <tr>
          <td>
             <div class="col about-img4 text-center">
            </div>
          </td>
          <td>
            <div class="col about-text1 text-center">
            <h4 class="p-3 md-2 text-dark text-center">3.靴好き同士で<br>コミュニケーションをとろう！</h4>
            他のUserの投稿もチェックしてみましょう。<br>
            お気に入りの投稿には「いいね」、<br>
           「コメント」することができます。<br>
            気になったUserはフォロー機能で、<br>
            フォローしてみましょう。<br>
          </td>
        </tr>
        <tr>
          <td>
            <div class="col about-text1 text-center">
            <h4 class="p-3 md-2 text-dark">4.靴磨きの予定を<br>管理しよう</h4>
            カレンダーを利用して、<br>
            靴磨きの予定を<br>
            追加・確認しましょう。<br>
            その他の予定も追加して<br>
            予定帳として利用する<br>
            こともできます。
          </td>
          <td>
            <div class="col about-img5 text-center">
            </div>
          </td>
        </tr>
      </thead>
    </table>
  </div>
</div>