<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center about-heading">ShoesProud</h1>
    </div>
  </div>
  <div class="row">
   <div class="col">
    <div class="text-center">
           <!-- Swiper START -->
      <div class="swiper-container">
      	<!-- メイン表示部分 -->
      	<div class="swiper-wrapper">
      		<!-- 各スライド -->
      		<div class="swiper-slide"><%= image_tag 'shoes1.JPG' %></div>
      		<div class="swiper-slide"><%= image_tag 'shoes2.JPG' %></div>
      		<div class="swiper-slide"><%= image_tag 'shoes3.JPG' %></div>
      	</div>
      </div>
      <!-- Swiper END -->
   </div>
  </div>
</div>

<script>
  var mySwiper = new Swiper('.swiper-container', {
  autoplay: {
    delay: 3000,
  },
  });
</script>