<div class= "search_wap">
   <%= search_form_for @search do |f| %>
    <%= f.text_field :shoe_model_or_description_cont  , placeholder: "何かお探しですか？", class: 'input' %>
       <%= button_tag type: 'submit', class: 'search__button' do %>
         <div class="icon_wap">
           <i class="fas fa-search">
           </i>
         </div>
       <% end %>
    <% end %>
</div>