// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.about-heading {
  margin-top: 50px;
}
.about-img {
  background-image: url("about_shoes.JPG");
  background-size: cover;
  background-position: center;
  width: 600px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 25px;
}



.swiper-wrapper {
	width: 100%;
	height: 250px;
}

.swiper-slide {
	color: #ffffff;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 250px;
}

.swiper-slide:nth-child(4n+1) {
	background-color: #FFFFFF;
}

.swiper-slide:nth-child(4n+2) {
	background-color: #FFFFFF;
}

.swiper-slide:nth-child(4n+3) {
	background-color: #FFFFFF;
}

.swiper-slide:nth-child(4n+4) {
	background-color: #FFFFFF;
}

.about-img2 {
  background-image: url("shoes_about4.JPG");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 300px;
}

.about-img3 {
  background-image: url("shoes_about2.JPG");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 300px;
}

.about-img4 {
  background-image: url("shoes2.JPG");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 300px;
}

.about-img5 {
  background-image: url("shoes_about3.JPG");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 300px;
}